.ButtonGenerateRandomLib {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .ButtonGenerateRandomLib:hover {
    background-color: darkblue;
  }
  