.hero {
  height: 80vh;
  padding-top: 5vh;
  background-color: black;
  /* background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(80, 80, 80, 0.7)
    ),
    url(../../assets/deepmind-hero.jpg); */
  object-fit: center;
}

.title {
  margin-top: 5%;
}

body {
}
